GOOGLE_CREDENTIALS_PATH=/opt/planilla_mkt/credenciales_nuevo.json
GOOGLE_SHEET_NAME=Planilla_CGB
HB_BROKER=284
HB_DNI=tu_dni
HB_USER=tu_usuario
HB_PASSWORD=tu_password
LOG_LEVEL=INFO
APP_TIMEZONE=America/Argentina/Buenos_Aires
