[Unit]
Description=Planilla MKT
After=network.target
Wants=network.target

[Service]
Type=simple
User=planilla
WorkingDirectory=/opt/planilla_mkt
EnvironmentFile=/opt/planilla_mkt/.env
ExecStart=/opt/planilla_mkt/.venv/bin/python /opt/planilla_mkt/prueba-produc.py
Restart=always
RestartSec=15
StandardOutput=append:/var/log/planilla-mkt.log
StandardError=append:/var/log/planilla-mkt.error.log

[Install]
WantedBy=multi-user.target
